In [1]:
import pandas as pd
import numpy as np

# Getting total season schedule (all teams) with attendance numbers

In [2]:
df1 = pd.read_csv('data/attendance/october_2018_nba_attendance.csv')
df2 = pd.read_csv('data/attendance/november_2018_nba_attendance.csv')
df3 = pd.read_csv('data/attendance/december_2018_nba_attendance.csv')
df4 = pd.read_csv('data/attendance/january_2019_nba_attendance.csv')
df5 = pd.read_csv('data/attendance/february_2019_nba_attendance.csv')
df6 = pd.read_csv('data/attendance/march_2019_nba_attendance.csv')
df7 = pd.read_csv('data/attendance/april_2019_nba_attendance.csv')

df_list = [df1,df2,df3,df4,df5,df6,df7]

In [3]:
season_2018 = pd.DataFrame()

In [4]:
#combine all seasons into one df
for i in df_list:
    season_2018 = season_2018.append(i, ignore_index=True)

In [5]:
season_2018

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,Notes
0,"Tue, Oct 16, 2018",8:00p,Philadelphia 76ers,87,Boston Celtics,105,Box Score,NaN,18624,NaN
1,"Tue, Oct 16, 2018",10:30p,Oklahoma City Thunder,100,Golden State Warriors,108,Box Score,NaN,19596,NaN
2,"Wed, Oct 17, 2018",7:00p,Milwaukee Bucks,113,Charlotte Hornets,112,Box Score,NaN,17889,NaN
3,"Wed, Oct 17, 2018",7:00p,Brooklyn Nets,100,Detroit Pistons,103,Box Score,NaN,20332,NaN
4,"Wed, Oct 17, 2018",7:00p,Memphis Grizzlies,83,Indiana Pacers,111,Box Score,NaN,17923,NaN
...,...,...,...,...,...,...,...,...,...,...
1274,"Sun, Apr 28, 2019",3:30p,Houston Rockets,100,Golden State Warriors,104,Box Score,NaN,19596,NaN
1275,"Mon, Apr 29, 2019",8:00p,Philadelphia 76ers,94,Toronto Raptors,89,Box Score,NaN,19800,NaN
1276,"Mon, Apr 29, 2019",10:30p,Portland Trail Blazers,113,Denver Nuggets,121,Box Score,NaN,19520,NaN
1277,"Tue, Apr 30, 2019",8:00p,Boston Celtics,102,Milwaukee Bucks,123,Box Score,NaN,17536,NaN
1278,"Tue, Apr 30, 2019",10:30p,Houston Rockets,109,Golden State Warriors,115,Box Score,NaN,19596,NaN

In [6]:
playoff_index = season_2018[season_2018['Date'] == 'Playoffs'].index[0]

In [7]:
# remove playoff games
season_2018 = season_2018.iloc[:playoff_index]

In [8]:
season_2018.head()

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,Notes
0,"Tue, Oct 16, 2018",8:00p,Philadelphia 76ers,87,Boston Celtics,105,Box Score,NaN,18624,NaN
1,"Tue, Oct 16, 2018",10:30p,Oklahoma City Thunder,100,Golden State Warriors,108,Box Score,NaN,19596,NaN
2,"Wed, Oct 17, 2018",7:00p,Milwaukee Bucks,113,Charlotte Hornets,112,Box Score,NaN,17889,NaN
3,"Wed, Oct 17, 2018",7:00p,Brooklyn Nets,100,Detroit Pistons,103,Box Score,NaN,20332,NaN
4,"Wed, Oct 17, 2018",7:00p,Memphis Grizzlies,83,Indiana Pacers,111,Box Score,NaN,17923,NaN

In [9]:
capacity = pd.read_csv('data/capacity/arena_capacity.csv')

In [10]:
capacity.head()

,Image,Arena,Location,Team(s),Capacity,Opened,Ref(s)
0,NaN,American Airlines Arena,"Miami, Florida",Miami Heat,19600,1999,[1][2]
1,NaN,American Airlines Center,"Dallas, Texas",Dallas Mavericks,19200,2001,[1][3]
2,NaN,Amway Center,"Orlando, Florida",Orlando Magic,18846,2010,[1][4]
3,NaN,AT&T Center,"San Antonio, Texas",San Antonio Spurs,18418,2002,[1][5]
4,NaN,Bankers Life Fieldhouse,"Indianapolis, Indiana",Indiana Pacers,17923,1999,[1][6]

In [11]:
capacity_dict = dict(zip(capacity['Team(s)'], capacity['Capacity']))
capacity_dict

{'Miami Heat': 19600,
 'Dallas Mavericks': 19200,
 'Orlando Magic': 18846,
 'San Antonio Spurs': 18418,
 'Indiana Pacers': 17923,
 'Brooklyn Nets': 17732,
 'Washington Wizards': 20356,
 'Golden State Warriors': 18064,
 'Oklahoma City Thunder': 18203,
 'Memphis Grizzlies': 17794,
 'Milwaukee Bucks': 17500,
 'Sacramento Kings': 17583,
 'Detroit Pistons': 20332,
 'New York Knicks': 19812,
 'Portland Trail Blazers': 19441,
 'Denver Nuggets': 19520,
 'Cleveland Cavaliers': 19432,
 'Toronto Raptors': 19800,
 'New Orleans Pelicans': 16867,
 'Charlotte Hornets': 19077,
 'Los Angeles Clippers': 19068,
 'Los Angeles Lakers': 18997,
 'Atlanta Hawks': 18118,
 'Phoenix Suns': 18055,
 'Minnesota Timberwolves': 18978,
 'Boston Celtics': 18624,
 'Houston Rockets': 18055,
 'Chicago Bulls': 20917,
 'Utah Jazz': 18306,
 'Philadelphia 76ers': 20478}

In [12]:
# add arena capacity to season 2018 df
season_2018['Capacity']= season_2018['Home/Neutral'].map(capacity_dict)
season_2018

C:\Users\mitch\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,Notes,Capacity
0,"Tue, Oct 16, 2018",8:00p,Philadelphia 76ers,87,Boston Celtics,105,Box Score,NaN,18624,NaN,18624
1,"Tue, Oct 16, 2018",10:30p,Oklahoma City Thunder,100,Golden State Warriors,108,Box Score,NaN,19596,NaN,18064
2,"Wed, Oct 17, 2018",7:00p,Milwaukee Bucks,113,Charlotte Hornets,112,Box Score,NaN,17889,NaN,19077
3,"Wed, Oct 17, 2018",7:00p,Brooklyn Nets,100,Detroit Pistons,103,Box Score,NaN,20332,NaN,20332
4,"Wed, Oct 17, 2018",7:00p,Memphis Grizzlies,83,Indiana Pacers,111,Box Score,NaN,17923,NaN,17923
...,...,...,...,...,...,...,...,...,...,...,...
1225,"Wed, Apr 10, 2019",8:00p,Chicago Bulls,109,Philadelphia 76ers,125,Box Score,NaN,20197,NaN,20478
1226,"Wed, Apr 10, 2019",8:00p,Dallas Mavericks,94,San Antonio Spurs,105,Box Score,NaN,18629,NaN,18418
1227,"Wed, Apr 10, 2019",10:30p,Minnesota Timberwolves,95,Denver Nuggets,99,Box Score,NaN,16332,NaN,19520
1228,"Wed, Apr 10, 2019",10:30p,Utah Jazz,137,Los Angeles Clippers,143,Box Score,OT,17655,NaN,19068
1229,"Wed, Apr 10, 2019",10:30p,Sacramento Kings,131,Portland Trail Blazers,136,Box Score,NaN,19814,NaN,19441

In [13]:
season_2018.to_csv('data/attendance/full_season_2018_2019_attendance.csv')

# team specific game attendance

In [14]:
def attendance_combiner(season_att, team_string, short_string):
    team_att = pd.DataFrame()
    away_mask = season_att['Visitor/Neutral'] == team_string
    home_mask = season_att['Home/Neutral'] == team_string
    team_att = team_att.append(season_att[home_mask])
    team_att = team_att.append(season_att[away_mask])
    team_att['Date'] = pd.to_datetime(team_att['Date'])
    team_att['Attend.'] = pd.to_numeric(team_att['Attend.'])
    team_att['Capacity'] = pd.to_numeric(team_att['Capacity'])
    team_att['Attendance Ratio'] = (team_att['Attend.'] / team_att['Capacity'])
    team_att = team_att.sort_values(by='Date')
    team_att = team_att.reset_index()
    one_mask = team_att['Attendance Ratio'] > 1
    team_att['Attendance Ratio'] = team_att['Attendance Ratio'].where(~one_mask, 1)
    team_att.to_csv(f'data/attendance/teams/{short_string}_2018_2019_attendance.csv')
    return(team_att)

In [15]:
raptors_att = attendance_combiner(season_2018, 'Toronto Raptors', 'raptors')
lakers_att = attendance_combiner(season_2018, 'Los Angeles Lakers', 'lakers')
rockets_att = attendance_combiner(season_2018, 'Houston Rockets', 'rockets')
warriors_att = attendance_combiner(season_2018, 'Golden State Warriors', 'warriors')
knicks_att = attendance_combiner(season_2018, 'New York Knicks', 'knicks')